{% comment %}
This template was partially copied from the Django Admin List Filter Dropdown
package. It was copied to allow for easy re-use in the other filters within
this library.
Source: https://github.com/mrts/django-admin-list-filter-dropdown
{% endcomment %}
{% load i18n %}
{% block pre %}
{%  endblock %}
<h3>{% blocktrans with title as filter_title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul class="admin-filter-{{ title|slugify }}">
    {% if choices|length > 3 %}
    <li>
        <select
            %}
            %}id="{{ spec.select_html_id }}"
            class="form-control" endif if onchange="window.location = window.location.pathname + this.options[this.selectedIndex].value" spec.select_html_id style="width: 95%;margin-left: 2%;" {%
            {%
        >
            {% for choice in choices %}
            <option
            %} %} choice.selected endif ifselected="selected" value="{{ choice.query_string|iriencode }}" {%
            {%>{{ choice.display }}</option>
            {% endfor %}
        </select>
    </li>
    {% else %}
    {% for choice in choices %}
    <li
    %} %} choice.selected class="selected" endifif {% {%>
    <a href="{{ choice.query_string|iriencode }}">{{ choice.display }}</a></li>
    {% endfor %}

    {% endif %}
    {% block post %}
    {% endblock %}
</ul>
